{% extends 'base.html.twig' %}

{% block title %}Add Beat!
{% endblock %}

{% block body %}
		{% if error %}
			<p id="no-beat-error" class="text-center text-danger">{{error}}</p>
		{% endif %}
	<div class="container-fluid d-flex justify-content-center">
		{{form_start(form)}}
		{{form_widget(form)}}
		<div class="d-flex justify-content-around flex-column align-items-center h-75">
			<input formnovalidate class="btn btn-primary col-6" type="submit" value="Set">
			<a href="{{path('app_home')}}" class="btn btn-danger col-6">Back</a>
		</div>
		{{form_end(form)}}

	</div>
{% endblock %}
